body {
font-family: "Telefonica Text";
}

h1{font-size: 30px;padding:15px; margin:0; text-align: center;}
p{
text-align: left;
padding-left: 20px;
}

ol, ul {
list-style: none;
}

div{
text-align:center;
margin: 0;
padding: 0;
}

form {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}	

button{
height: 25px;
border-radius: 3px;
background: rgb(223,222,222);
background: linear-gradient(0deg, rgba(223,222,222,1) 0%, rgba(255,255,255,1) 100%);
border: 1px solid gray;
}

input{
height: 20px;
}

header{
text-align: center;
border-bottom: 2px solid black;
}
@media screen and (min-width: 1000px) {
  .container {
    margin: 1em 2em;

header section{
width: 600px;
float: left;
}

  }
} 
section{
text-align: center;
padding: 10px;
}

section h1{font-size: 30px;padding:50px; margin:0; text-align: center;}

a{
text-decoration: none;
}







#img{
border: 2px solid black;
margin: 5px;
}

#head_b2b{
width: 90%;
font-size: 17px;
margin: auto;
}

#sup{
width: 600px;
height: 700px;
margin-top: 10px;
margin-left: 30px;
float: left;
clear: right;
}

#sup-1{
font-size: 15pt;
width: 600px;
height: 700px;
margin-top: 10px;
margin-left: 30px;
float: left;
padding: 50px;
}

#popup_principal{
margin-top: 75px;
}

#popup{
border-radius: 30px;
text-align: center;
width: 300px;
height: 150px;
}
#logo{
padding-top: 25px;
width: 50px;
height: 50px;
margin-left: 5%;
}
#icon{
width:10px;
height:10px;
}
#Geral_1{
padding-left: 2.5px;;
}
#videos{
margin: auto;
}
#video {
margin: auto;
padding: 5px;
color: #549bb3;
background-color: #d9ddff;
font-weight: bold;
text-transform: uppercase;
width: 1000px;
height: 600px;
border-radius: 10px;
box-shadow: inset 1px 1px 4px #999;
}
#cop{
color: white;
text-align: center;
padding: 10px;
font-style: bold;
font-size: 12pt;
width: 80px;
position: fixed;
margin-left: 70%;
margin-top: 4%;
display: none;
border-radius: 4px;
box-shadow: 2px 2px 4px #999;
background: rgba(100,0,150,1);
background: linear-gradient(180deg, rgba(100,0,150,1) 0%, rgba(145,0,215,1) 100%);
}







.titulo{
align: center;
padding: 5px;
}
.bot{
float: left;
width: 45%;
height: 25px;
text-align: left;
margin: 2px;
}
.bot1{
float: left;
width: 32.6%;
height: 25px;
text-align: left;
margin: 2px;
}
.bot2{
width: 99%;
height: 25px;
text-align: left;
margin: 2px 2px 2px 2px;
}
.bot3{
float: left;
width: 20%;
height: 25px;
text-align: left;
margin: 2px 2px 2px 2px;
clear: right;
}
.bot4{
float: left;
width: 25%;
height: 25px;
text-align: left;
margin: 2px 2px 2px 2px;
clear: right;
}
.bot5{
float: left;
width: 20%;
height: 25px;
text-align: left;
margin: 2px 2px 2px 2px;
clear: right;
}
.bot6{
float: left;
width: 10%;
height: 25px;
margin: 2px;
clear: right;
font-size: 11px;
}
.bot7{
background-color: white;
border: 0;
color: black;
border-radius: 0;
}
.bot7 button:hover{
background-color: red;
}
.caixatxt{
width: 47%;
margin: 2px 2px 2px 2px;
}
.caixatxt2{
float: left;
width: 87%;
height: 15%;
margin: 2px 2px 2px 2px;
}
.caixatxt3{
width: 15%;
float: left;
margin: 2px 2px 2px 2px;
}
.caixatxt4{
width: 27%;
float: left;
margin: 2px 2px 2px 2px;
}
.caixatxt5{
width: 70%;
float: left;
margin: 2px 2px 2px 2px;
}
.caixatxt6{
width: 37%;
float: left;
margin: 2px 2px 2px 2px;
}
.menu{
margin: auto;
width: 79%;
list-style: none;
text-align: center;
}
.menu li {
position:relative;
float: left;
width: 25%;

}
.menu li a{
color:#333;
text-decoration: none;
padding: 5px;
display: block;
height: 30px;
}

.menu li a:hover{
color: black;
-moz-box-shadow:0 3px 10px 0 #CCC;
-webkit-box-shadow:0 3px 10px 0 #ccc;
text-shadow:0px 0px 5px #fff;
}
.menu li ul {
position: absolute;
padding: 0;
width: 100%;
left:0;
border: 1px solid #c0c0c0 ;
background-color: white;
-moz-box-shadow:0 3px 10px 0 #CCC;
-webkit-box-shadow:0 3px 10px 0 #ccc;
text-shadow:0px 0px 5px #fff;
display: none;	
border-radius: 3px;
}
.menu li:hover ul, .menu li.over ul{
display:block;
width: 150%;
}
.menu li ul li{
display: block;
width: 98%;
border: 2px;
padding: 2px;
}
.menu li ul a{
display: block;
height: 20px;
}
.cmd{
font-size: 15px;
}
.cmdli{
background: black;
color: white;
}
.atenção{
color: red;
font-size: 11px;
padding-left: 3px;
}
.voip{
display:none;
padding: 2px;
}
.mano{
display:none;
padding: 2px;
}
.lprout{
display:none;
padding: 2px;
}
.bloq{
display:none;
padding: 2px;
}
.genBand{
color: black;
background: rgb(231,200,237);
background: linear-gradient(180deg, rgba(231,200,237,1) 0%, rgba(250,250,250,1) 100%);
border: 1px solid gray;
}
.Sonus{
color: black;
background: rgb(250,250,250);
background: linear-gradient(180deg, rgba(250,250,250,1) 0%, rgba(178,199,213,1) 100%);
border: 1px solid gray;
}
.Neutro{
border: 1px solid gray;
background: rgb(250,250,250);
background: linear-gradient(180deg, rgba(250,250,250,1) 0%, rgba(220,220,220,1) 100%);
}
.Usuario{
float: left;
font-size: 17px;
padding: 5px;
margin: 0;
}
.divUsuario{
height: 40px;
padding-top: 35px;
padding-bottom: 10px;
clear: left:

}
.Principal{
padding-top: 35px;
}
.Principal h1{font-size: 20px;padding:0; margin:0;}
.Principal h2{font-size: 15px;padding:0; margin:0;}
.divisoria{
width: 50%;
float: left;
}
.divisoria1{
width: 50%;
float: right;
}
.menu_popup{
list-style: none;
text-align: left;
}
.menu_popup li {
position:relative;
float: left;
width: 80px;
}
.menu_popup li a{
width: 60px;
color:#333;
text-decoration: none;
padding: 5px 10px;
display: block;
}
.menu_popup li a:hover{
color: black;
-moz-box-shadow:0 3px 10px 0 #CCC;
-webkit-box-shadow:0 3px 10px 0 #ccc;
text-shadow:0px 0px 5px #fff;
}
.menu_popup li ul {
width: 70px;
position: absolute;
padding: 0;
left:0;
border: 1px solid #c0c0c0 ;
background-color: white;
-moz-box-shadow:0 3px 10px 0 #CCC;
-webkit-box-shadow:0 3px 10px 0 #ccc;
text-shadow:0px 0px 5px #fff;
display: none;	
border-radius: 3px;
}
.menu_popup li:hover ul, .menu_popup li.over ul{
display:block;
width: 85px;
}
.menu_popup li ul li{
width: 80px;
font-size: 12px;
display: block;
border: 2px;
}
.menu_popup p{
border: 1px solid black;
padding: 0;
margin: 0;
}
.links p{
padding-left: 20%;
}
.menu_head a{
text-align:center;
display:block;
background: black;
color: white;
float:left;
padding-top: 0;
height: 20px;
width: 250px;
margin-left: 50px;
text-decoration: none;
}
.menu_head a:hover{
background: purple;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
transition: all 0.5s ease;
-moz-transform: scale(1.2) ;
-webkit-transform: scale(1.2) ;
-o-transform: scale(1.2) ;
-ms-transform: scale(1.2) ;
transform: scale(1.2) ;
}

.menu_head div{
display:block;
float: left;
}
.menu_head section{
width: 600px;
float: left;
}
